/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a23;
    color: #dfdfe2;
    height: 50px;
}

header > h1 {
    background-color: #0a0a23;
    text-align: center;
    margin: 10px;
}

button {
    width: 125px;
    height: 35px;
    margin: 10px;
    background-color: #f1be32;
    border: 2px solid #d69f08;
    font-size: 1.05em;
}

button:hover {
    background-color: #fed35b;
}

/* MAIN ELEMENT STYLES */
main {
    display: flex;
    justify-content: space-around;
    color: #dfdfe2;
    padding-top: 60px;
}

/* ADD NEW WORKOUT STYLES */
fieldset {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

fieldset > input, fieldset > select {
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    color: #dfdfe2;
    font-size: 1.05em;
}