/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a23;
    color: #dfdfe2;
    height: 50px;
}

header > h1 {
    background-color: #0a0a23;
    text-align: center;
    margin: 10px;
}

button {
    width: 125px;
    height: 35px;
    margin: 10px;
    background-color: #f1be32;
    border: 2px solid #d69f08;
    font-size: 1.05em;
}

button:hover {
    background-color: #fed35b;
}